@import "tailwindcss";

:root {
  font-size: clamp(0.625rem, 1rem + 0.3vw, 1.4rem);
  --sb-track-color: var(--color-shade);
  --sb-thumb-color: var(--color-shade-2);
  --font-mono: var(--font-fira-mono);
  --font-size-question: 1.2rem;
  scroll-behavior: smooth;
}

@media (width >= 48rem) {
  :root {
    --font-size-question: 1.7rem;
  }
}

@theme {
  --color-*: initial;
  --color-background: #23252e;
  --color-bg-elevated: #282b37;
  --color-foreground: #e6e6e6;
  --color-accent: #f39f47;
  --color-muted-1: #ffffff66;
  --color-muted-2: #585858;
  --color-success: #00a16e;
  --color-info: #a96fff;
  --color-error: #ca343e;
  --color-shade: rgb(0 0 0 / 0.1);
  --color-shade-2: rgb(0 0 0 / 0.2);
  --color-shade-4: rgb(0 0 0 / 0.4);
  --color-border-dark: rgb(0 0 0 / 0.4);

  --spacing: 0.25rem;

  --text-hero: 2.5rem;
  --text-hero--line-height: 1.3;
  --text-hero--font-weight: 700;

  --text-question: var(--font-size-question);
  --text-question--line-height: 1.2;
  --text-question--font-weight: 700;

  --rounded-md: 4px;

  --shadow-radio-ring: 0 0 0 4px var(--color-background);
}

@utility area-* {
  grid-area: --value([ *]);
}

.welcome-main {
  grid-template:
    "." 1fr
    "hero" auto
    "." 1fr
    "btn" auto;

  @media (width >= 48rem) {
    place-content: center;
    grid-template:
      "hero" auto
      "btn" auto / 500px;
  }
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 4);

  [data-code-block-container] {
    background-color: var(--color-shade);
    border: 1px solid var(--color-shade-2);
    border-radius: var(--rounded-md);
    padding: 0.4rem;
    [data-syntax-highlight] {
      overflow-x: auto;
    }

    @media (width >= 48rem) {
      padding: 0.8rem 1rem;
    }
  }
}

[data-code-block-container] {
  width: 100%;
  display: block;
}

[data-syntax-highlight] {
  code {
    font-family: var(--font-mono);
    counter-reset: step;
    counter-increment: step 0;
    line-height: 2;
    font-weight: 500;
    width: 100%;
    display: block;

    font-size: var(--text-sm);
    @media (width >= 48rem) {
      font-size: 1.1rem;
    }

    .line::before {
      content: counter(step);
      counter-increment: step;
      width: 1rem;
      margin-right: 1rem;
      display: inline-block;
      text-align: right;
      color: rgba(115, 138, 148, 0.4);
    }

    .space::after {
      content: "''";
      --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");

      -webkit-mask: var(--un-icon) no-repeat;
      mask: var(--un-icon) no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      background-color: currentColor;
      display: inline-block;
      color: var(--color-muted-2);
      translate: -30% 0%;
    }
  }
}

:not([data-syntax-highlight]) > [data-inline-code] {
  background: var(--color-shade-2);
  padding: 4px 8px;
  font-size: 0.8em;
  border-radius: 8px;
  display: inline-block;
}

label [data-code-block-container] {
  overflow-x: auto;
}

::view-transition-group(question) {
  animation-duration: 10ms;
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-group(question) {
    animation-duration: 200ms;
    display: block;
  }

  ::view-transition-old(question) {
    animation-name: slide-out;
  }

  ::view-transition-new(question) {
    animation-name: slide-in;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    translate: 0 100vh;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-out {
  from {
    translate: 0;
  }
  to {
    translate: 0 100vh;
  }
}

.i-arrow-left {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}

.i-keyboard {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M3 20q-.825 0-1.412-.587T1 18V6q0-.825.588-1.412T3 4h18q.825 0 1.413.588T23 6v12q0 .825-.587 1.413T21 20zm5-3h8v-2H8zm-3-3.5h2v-2H5zm4 0h2v-2H9zm4 0h2v-2h-2zm4 0h2v-2h-2zM5 10h2V8H5zm4 0h2V8H9zm4 0h2V8h-2zm4 0h2V8h-2z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  display: inline-block;
}

a[data-external]::after {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 48 48' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m16 32l17-17m-18 0h18v18'/%3E%3C/svg%3E");
  content: '""';
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  margin-left: 0.1em;
  color: inherit;
  display: inline;
}

.i-x {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M.102 0h4.71l4.193 5.997L14.04 0h1.505L9.58 6.82L16 16h-4.71L6.911 9.738L1.504 16H0l6.337-7.083zM1.96.941l9.872 14.118h2.31L4.27.94z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
}
